/* access-denied.component.css */
/* access-denied.component.css */

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  z-index: 1000;
}

/* Resto de los estilos */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 40px 0 20px;
}

.lock {
  border-radius: 5px;
  width: 55px;
  height: 45px;
  background-color: #333;
  animation: dip 1s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  position: relative; /* Asegúrate de que el posicionamiento sea relativo */
  z-index: 2; /* Puedes ajustar este valor según sea necesario */

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-left: 5px solid #333;
    height: 20px;
    width: 15px;
    left: calc(50% - 12.5px);
  }

  &::before {
    top: -30px;
    border: 5px solid #333;
    border-bottom-color: transparent;
    border-radius: 15px 15px 0 0;
    height: 30px;
    animation: lock 2s, spin 2s;
  }

  &::after {
    top: -10px;
    border-right: 5px solid transparent;
    animation: spin 2s;
  }
}

@keyframes lock {
  0% {
    top: -30px; /* Ajusta la posición inicial */
  }
  50% {
    top: -45px;
  }
  100% {
    top: -30px;
  }
}

@keyframes spin {
  0% {
    transform: scaleX(-1);
    left: calc(50% - 30px);
  }
  50% {
    transform: scaleX(1);
    left: calc(50% - 12.5px);
  }
}

@keyframes dip {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
}



