<div class="container mt-4">
    <h2 class="text-center mb-4">Editar Plantilla: {{ nombrePlantilla }}</h2>

    <form (ngSubmit)="onSubmit()">
        <div *ngIf="datosPlantilla">
            <h3>Datos de la Plantilla:</h3>
            <pre>{{ datosPlantilla | json }}</pre>
        </div>

        <div *ngFor="let campoIndex of obtenerClaves()" class="campo">
            <div *ngIf="camposPlantilla[campoIndex].name !== '_id'">
                <label>Nombre del campo</label>
                <input [(ngModel)]="camposPlantilla[campoIndex].name" [name]="'campoNombre_' + campoIndex" class="form-control" />
        
                <label>Tipo del Campo</label>
                <select [(ngModel)]="camposPlantilla[campoIndex].type" [name]="'campoTipo_' + campoIndex" class="form-control">
                    <option value="string">String</option>
                    <option value="number">Number</option>
                    <option value="file">File</option>
                    <option value="date">Date</option>
                    <!-- Agrega más opciones según los tipos de dato que puedas tener -->
                </select>
        
                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" [id]="'campoRequerido_' + campoIndex"
                        [(ngModel)]="camposPlantilla[campoIndex].required" [name]="'campoRequerido_' + campoIndex" />
                    <label class="form-check-label" [for]="'campoRequerido_' + campoIndex">Campo Obligatorio</label>
                </div>
        
                <button type="button" (click)="eliminarCampo(campoIndex)" class="btn btn-danger mt-2">Eliminar</button>
            </div>
        </div>
        
        

        <div>
            <button type="button" (click)="agregarCampo()" class="btn btn-success mt-2">Agregar Campo</button>
            <div *ngIf="mostrarInput">
                <label>Nuevo Campo</label>
                <input [(ngModel)]="nuevoCampoNombre" name="nuevoCampoNombre" class="form-control mt-2" />

                <label>Tipo del Campo</label>
                <select [(ngModel)]="nuevoCampoTipo" name="nuevoCampoTipo" class="form-control mt-2">
                    <option value="string">String</option>
                    <option value="number">Number</option>
                    <option value="boolean">Boolean</option>
                    <option value="file">PDF</option>
                    <option value="file">Imagen</option>
                    <!-- Agrega más opciones según los tipos de dato que puedas tener -->
                </select>

                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" id="nuevoCampoRequerido"
                        [(ngModel)]="nuevoCampoRequerido" name="nuevoCampoRequerido" />
                    <label class="form-check-label" for="nuevoCampoRequerido">Campo Obligatorio</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Actualizar Plantilla</button>
    </form>
</div>
