<div class="container mt-3">
  <h3 class="mb-4">Resultados de la búsqueda:</h3>
  <div *ngIf="resultados.length > 0">
    <div *ngFor="let resultado of resultados" class="card mb-3" [class.mouse-hovered]="mouseSobreResultado === resultado" (mouseenter)="mouseSobreResultado = resultado" (mouseleave)="mouseSobreResultado = null" (click)="verDetalle(resultado)">
      <div class="card-body">
        <div *ngFor="let campo of getCampos(resultado)" class="mb-2">
          <ng-container *ngIf="campo.nombre !== '_id.$oid' && campo.nombre !== 'Recurso Digital' && campo.nombre !== 'created_at' && campo.nombre !== 'updated_at'">
            <strong>{{ capitalizeFirstLetter(campo.nombre) }}:</strong> {{ campo.valor }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="resultados.length === 0">
    <p>No se encontraron resultados.</p>
  </div>
</div>
